commands:
  01_create_swap_file:
    command: "sudo fallocate -l 2G /swapfile" # 2GBのSwapファイルを作成 (1Gでも可)
    test: "test ! -f /swapfile"
  02_set_permissions:
    command: "sudo chmod 600 /swapfile"
    test: "test -f /swapfile"
  03_mkswap:
    command: "sudo mkswap /swapfile"
    test: "grep -q swap /proc/swaps || sudo mkswap /swapfile"
  04_swapon:
    command: "sudo swapon /swapfile"
    test: "grep -q swap /proc/swaps || sudo swapon /swapfile"

files:
  "/etc/fstab":
    mode: "000644"
    owner: root
    group: root
    append: true
    content: |
      /swapfile swap swap defaults 0 0