# .ebextensions/01_prisma.config
container_commands:
  01_prisma_generate:
    command: "npm run prisma:generate"
    leader_only: true
  02_prisma_migrate:
    command: "npm run prisma:migrate"
    leader_only: true
    # env: # この env 設定は container_commands では無効なので削除
    #   DATABASE_URL: $DATABASE_URL
    #   DIRECT_URL: $DIRECT_URL