option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_CONFIG_PRODUCTION: true
    NPM_CONFIG_UNSAFE_PERM: true
    NPM_CONFIG_TIMEOUT: 300000
    NODE_ENV: production
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small

commands:
  01_npm_config:
    command: "npm config set fetch-timeout 300000"
    ignoreErrors: true
  02_npm_registry:
    command: "npm config set registry https://registry.npmjs.org/"
    ignoreErrors: true
